# Data files
*.geojson
*.json
*.tif
*.tiff
*.las
*.laz

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
test_data/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter
.ipynb_checkpoints/

# Old notebooks
my_implementation_option1.ipynb
my_implementation_option2.ipynb
my_implementation_option3.ipynb
my_implementation.ipynb

# Environment
.env
.venv
env/
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

